In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1]

In [103]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [114]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [115]:
model = regression_model()

In [107]:
import sklearn

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
 X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, random_state=0)

In [116]:
model.fit(X_train, y_train,  epochs=50)

Epoch 1/50
772/772 [==============================] - 2s 3ms/step - loss: 1490.2850
Epoch 2/50
772/772 [==============================] - 0s 490us/step - loss: 833.0535
Epoch 3/50
772/772 [==============================] - 0s 490us/step - loss: 306.0721
Epoch 4/50
772/772 [==============================] - 0s 497us/step - loss: 226.6253
Epoch 5/50
772/772 [==============================] - 1s 873us/step - loss: 207.7150
Epoch 6/50
772/772 [==============================] - 1s 676us/step - loss: 194.8188
Epoch 7/50
772/772 [==============================] - 0s 511us/step - loss: 181.4333
Epoch 8/50
772/772 [==============================] - 0s 507us/step - loss: 175.0152
Epoch 9/50
772/772 [==============================] - 0s 478us/step - loss: 165.3589
Epoch 10/50
772/772 [==============================] - 0s 491us/step - loss: 155.4428
Epoch 11/50
772/772 [==============================] - 0s 527us/step - loss: 149.2970
Epoch 12/50
772/772 [==============================] - 0s 504us/step - loss: 140.2798
Epoch 13/50
772/772 [==============================] - 0s 472us/step - loss: 130.6227
Epoch 14/50
772/772 [==============================] - 0s 487us/step - loss: 124.8383
Epoch 15/50
772/772 [==============================] - 0s 494us/step - loss: 113.6713
Epoch 16/50
772/772 [==============================] - 0s 488us/step - loss: 106.4153
Epoch 17/50
772/772 [==============================] - 0s 517us/step - loss: 96.8987
Epoch 18/50
772/772 [==============================] - 0s 517us/step - loss: 90.4252
Epoch 19/50
772/772 [==============================] - 0s 503us/step - loss: 83.2091
Epoch 20/50
772/772 [==============================] - 0s 502us/step - loss: 73.6566
Epoch 21/50
772/772 [==============================] - 0s 490us/step - loss: 69.1405
Epoch 22/50
772/772 [==============================] - 0s 469us/step - loss: 63.0257
Epoch 23/50
772/772 [==============================] - 0s 488us/step - loss: 58.3017
Epoch 24/50
772/772 [==============================] - 0s 492us/step - loss: 54.7419
Epoch 25/50
772/772 [==============================] - 0s 491us/step - loss: 49.6377
Epoch 26/50
772/772 [==============================] - 0s 492us/step - loss: 50.3989
Epoch 27/50
772/772 [==============================] - 0s 499us/step - loss: 46.9722
Epoch 28/50
772/772 [==============================] - 0s 481us/step - loss: 46.3452
Epoch 29/50
772/772 [==============================] - 0s 494us/step - loss: 44.3094
Epoch 30/50
772/772 [==============================] - 0s 491us/step - loss: 44.7841
Epoch 31/50
772/772 [==============================] - 0s 492us/step - loss: 41.0901
Epoch 32/50
772/772 [==============================] - 1s 1ms/step - loss: 38.9364
Epoch 33/50
772/772 [==============================] - 0s 519us/step - loss: 37.4852
Epoch 34/50
772/772 [==============================] - 0s 485us/step - loss: 34.1786
Epoch 35/50
772/772 [==============================] - 0s 491us/step - loss: 34.8655
Epoch 36/50
772/772 [==============================] - 1s 672us/step - loss: 34.5786
Epoch 37/50
772/772 [==============================] - 0s 490us/step - loss: 31.0442
Epoch 38/50
772/772 [==============================] - 0s 493us/step - loss: 30.6514
Epoch 39/50
772/772 [==============================] - 0s 490us/step - loss: 29.6257
Epoch 40/50
772/772 [==============================] - 0s 470us/step - loss: 28.5626
Epoch 41/50
772/772 [==============================] - 0s 506us/step - loss: 27.7970
Epoch 42/50
772/772 [==============================] - 0s 473us/step - loss: 27.1896
Epoch 43/50
772/772 [==============================] - 0s 469us/step - loss: 26.0152
Epoch 44/50
772/772 [==============================] - 0s 518us/step - loss: 27.2900
Epoch 45/50
772/772 [==============================] - 0s 511us/step - loss: 25.9211
Epoch 46/50
772/772 [==============================] - 0s 494us/step - loss: 25.3349
Epoch 47/50
772/772 [==============================] - 0s 497us/step - loss: 25.1500
Epoch 48/50
772/772 [==============================] - 0s 490us/step - loss: 26.4634
Epoch 49/50
772/772 [==============================] - 0s 534us/step - loss: 28.4558
Epoch 50/50
772/772 [==============================] - 0s 493us/step - loss: 24.1365

In [117]:
model.predict(X_test)

array([[30.736643 ],
       [10.293084 ],
       [77.69845  ],
       [62.213604 ],
       [10.466289 ],
       [42.871662 ],
       [45.02343  ],
       [20.944407 ],
       [72.13769  ],
       [45.61605  ],
       [18.071144 ],
       [49.85941  ],
       [40.31925  ],
       [19.017414 ],
       [53.14979  ],
       [58.71646  ],
       [35.045853 ],
       [33.412    ],
       [52.64571  ],
       [38.680332 ],
       [62.33771  ],
       [28.954433 ],
       [26.304283 ],
       [50.12832  ],
       [13.475221 ],
       [21.907055 ],
       [58.906803 ],
       [20.138405 ],
       [58.71646  ],
       [76.38208  ],
       [18.066628 ],
       [45.72259  ],
       [29.414131 ],
       [35.144672 ],
       [16.438011 ],
       [ 4.5286055],
       [40.772797 ],
       [26.062246 ],
       [28.060997 ],
       [29.603832 ],
       [49.522842 ],
       [39.564686 ],
       [28.12078  ],
       [37.727905 ],
       [66.42886  ],
       [38.789097 ],
       [26.547577 ],
       [39.058193 ],
       [30.063622 ],
       [41.711906 ],
       [40.577152 ],
       [25.8442   ],
       [23.061438 ],
       [41.60628  ],
       [57.116283 ],
       [39.75436  ],
       [37.849453 ],
       [49.52203  ],
       [62.273106 ],
       [53.920795 ],
       [35.63483  ],
       [16.506119 ],
       [53.60223  ],
       [37.970493 ],
       [12.15938  ],
       [46.5945   ],
       [38.49248  ],
       [26.719357 ],
       [15.445256 ],
       [11.22897  ],
       [16.30437  ],
       [26.939651 ],
       [41.976173 ],
       [21.85125  ],
       [34.271175 ],
       [35.79375  ],
       [38.338955 ],
       [15.2074585],
       [30.574568 ],
       [39.137486 ],
       [13.094886 ],
       [52.58962  ],
       [17.221924 ],
       [28.344378 ],
       [50.562363 ],
       [37.365578 ],
       [32.676167 ],
       [50.911587 ],
       [38.601772 ],
       [36.826195 ],
       [70.891014 ],
       [14.323447 ],
       [14.542802 ],
       [43.093647 ],
       [20.711414 ],
       [41.702435 ],
       [15.397082 ],
       [41.077698 ],
       [48.023167 ],
       [38.850163 ],
       [17.956312 ],
       [29.649694 ],
       [35.121296 ],
       [28.870651 ],
       [41.18095  ],
       [37.996456 ],
       [54.30308  ],
       [18.508064 ],
       [31.13895  ],
       [43.502384 ],
       [10.294503 ],
       [50.457188 ],
       [15.889808 ],
       [28.722778 ],
       [40.88386  ],
       [60.411007 ],
       [36.032215 ],
       [39.547955 ],
       [35.399174 ],
       [18.212608 ],
       [38.60374  ],
       [21.293785 ],
       [71.158195 ],
       [29.586552 ],
       [13.102182 ],
       [ 8.905841 ],
       [ 9.412673 ],
       [10.062377 ],
       [57.716255 ],
       [38.89764  ],
       [34.929058 ],
       [44.3385   ],
       [28.24844  ],
       [31.266895 ],
       [ 4.9722157],
       [60.14954  ],
       [37.059284 ],
       [41.306503 ],
       [ 5.7767076],
       [12.776552 ],
       [33.48003  ],
       [43.684788 ],
       [20.370436 ],
       [35.75426  ],
       [17.355684 ],
       [30.2152   ],
       [33.64191  ],
       [14.138891 ],
       [33.49821  ],
       [17.992733 ],
       [15.274368 ],
       [19.992132 ],
       [25.807568 ],
       [35.35205  ],
       [37.53315  ],
       [32.476707 ],
       [33.443745 ],
       [26.691093 ],
       [35.96333  ],
       [26.222153 ],
       [45.721725 ],
       [37.93367  ],
       [11.834808 ],
       [25.844322 ],
       [36.26823  ],
       [10.776614 ],
       [40.240536 ],
       [49.31459  ],
       [43.14239  ],
       [ 8.621615 ],
       [41.23462  ],
       [39.923206 ],
       [28.48153  ],
       [35.85487  ],
       [14.509322 ],
       [11.239634 ],
       [14.233134 ],
       [45.794594 ],
       [29.939041 ],
       [49.899853 ],
       [16.830261 ],
       [28.765594 ],
       [12.169318 ],
       [48.892654 ],
       [20.236677 ],
       [40.499496 ],
       [34.04397  ],
       [48.621586 ],
       [17.076204 ],
       [53.602226 ],
       [27.756853 ],
       [68.64221  ],
       [55.4157   ],
       [34.91051  ],
       [ 6.565071 ],
       [40.397423 ],
       [35.786144 ],
       [31.672653 ],
       [39.26754  ],
       [67.44402  ],
       [19.180944 ],
       [26.557652 ],
       [36.811    ],
       [23.251244 ],
       [38.64346  ],
       [12.763968 ],
       [39.42175  ],
       [35.978336 ],
       [41.556988 ],
       [14.20679  ],
       [47.131527 ],
       [18.86592  ],
       [12.393764 ],
       [30.033863 ],
       [43.79204  ],
       [25.7486   ],
       [29.888298 ],
       [30.040018 ],
       [19.270338 ],
       [41.78709  ],
       [63.1601   ],
       [21.346561 ],
       [38.677505 ],
       [39.4642   ],
       [36.536953 ],
       [42.69531  ],
       [27.515633 ],
       [40.018433 ],
       [21.732323 ],
       [44.582806 ],
       [28.722086 ],
       [38.572598 ],
       [48.54595  ],
       [19.14131  ],
       [43.087765 ],
       [15.628764 ],
       [36.461308 ],
       [32.218582 ],
       [24.784441 ],
       [69.8066   ],
       [64.401    ],
       [45.893154 ],
       [45.886585 ],
       [30.635456 ],
       [21.665886 ],
       [17.258419 ],
       [32.524902 ],
       [38.275753 ],
       [39.001347 ],
       [10.201434 ],
       [10.158473 ],
       [46.888554 ],
       [41.30525  ],
       [37.355164 ],
       [44.649006 ],
       [16.882683 ],
       [24.633608 ],
       [11.1567135]], dtype=float32)

In [100]:
y_test

747     26.06
718     10.35
175     79.30
828     74.99
713      9.69
108     47.10
403     59.00
215     22.72
1       61.89
27      52.12
780     17.54
298     48.15
252     38.33
578     17.20
386     56.83
483     55.25
315     33.36
812     34.68
751     52.61
311     39.94
496     61.46
619     27.63
425     32.90
799     41.64
631     17.54
636     26.85
122     66.90
200     21.06
481     61.07
358     66.95
        ...
686     14.14
817     48.40
538     34.57
913     35.86
113     59.09
634     24.50
37      37.72
412     15.52
1029    32.40
927     33.05
395     49.25
158     71.70
154     54.90
40      50.46
720     51.86
320     28.68
270     26.77
557     17.24
491     36.84
236     40.23
646     47.71
613     11.36
626      9.99
942     40.93
18      40.56
453     31.72
906     39.42
757     18.13
875     18.28
62       9.87
Name: Strength, Length: 258, dtype: float64

predicted values are close to the true values
hence my try of regression with Keras is complete...

by shivangi joshi